<!-- <h1>Gallery#index</h1>
<p>Find me in app/views/gallery/index.html.erb</p> -->

<% @events.each do |evnt| %>
	<div id="<%= evnt.id %>" class="gallery-img-container group" attr-presenter="<%= evnt.licensee %>" attr-title="<%= evnt.title %>" attr-date="<%= evnt.correct_date %>">
		<%= link_to(image_tag(evnt.correct_img_url), list_index_path(:anchor => evnt.id)) %>
	</div>
<% end %>
