<!DOCTYPE html>
<html>
<head>
  <title>Carnegie Hall Sound</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="main">
		<div class="header group">
			<h1><span>Carnegie Hall</span> Sound</h1>
			<div class="subhead">
				<p>Explore the gallery and listen to all of Carnegie Hall's upcoming events.</p>
			</div>
			<div id="nav">
				<h2><span>Carnegie Hall</span> Sound</h2>
				<ul>
					<li id="allEvents">all</li>
					<li id="carnAudio">With Audio</li>
					<li id="non-carnEvents">non-carnegie hall</li>
				</ul>
			</div>
		</div>
		<div id="view" class="group">
			<%= link_to list_index_path do %>
			<div class="tooltip-gallery">
				<div class="tooltip-gallery-box">
					<p class="deets-date">Date</p>
					<p class="deets-place">Location</p>
				</div>
				<div class="tooltip-gallery-triangle"></div>
			</div>
			<% end %>
			<div class="tooltip-list">
				<div class="tooltip-list-box"><p>Name of piece<br />Name of performer<br />Another name for something</p></div>
				<div class="tooltip-list-triangle"></div>
			</div>
			<%= yield %>
		</main>
	</div>
	<div id="footer">
		<h4>made, with love, by <a href="http://troyericgriggs.com">troy eric griggs</a></h4>
	</div>
</body>
</html>
